html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 border:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
 margin:0;
 padding:0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display:block
}
body {
 line-height:1
}
ol,
ul {
 list-style:none
}
blockquote,
q {
 quotes:none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
@font-face {
 font-family:Bookinsanity;
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:Bookinsanity;
 font-weight:bold;
 font-style:normal
}
@font-face {
 font-family:Bookinsanity;
 font-weight:normal;
 font-style:italic
}
@font-face {
 font-family:Bookinsanity;
 font-weight:bold;
 font-style:italic
}
@font-face {
 font-family:"Scaly Sans";
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:"Scaly Sans Caps";
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:Solbera;
 font-weight:normal;
 font-style:normal
}
@font-face {
 font-family:"Mr. Eaves";
 font-weight:normal;
 font-style:normal
}
.phb hr+hr+blockquote {
 column-span:all;
 -webkit-column-span:all;
 -moz-column-span:all
}
.phb hr+table {
 margin-top:-5px;
 margin-bottom:50px;
 padding-top:10px;
 border-collapse:separate;
 background-color:white;
 border:initial;
 border-style:solid;
 border-image-outset:37px 17px;
 border-image-repeat:round;
 border-image-slice:150 200 150 200;
 border-image-width:47px
}
.phb h5+hr+table {
 column-span:all;
 -webkit-column-span:all;
 -moz-column-span:all
}
@page {
 margin:0
}
body {
 counter-reset:phb-page-numbers
}
* {
 -webkit-print-color-adjust:exact
}
.phb {
 column-count:2;
 column-fill:auto;
 column-gap:1cm;
 column-width:8cm;
 -webkit-column-count:2;
 -moz-column-count:2;
 -webkit-column-width:8cm;
 -moz-column-width:8cm;
 -webkit-column-gap:1cm;
 -moz-column-gap:1cm;
 counter-increment:phb-page-numbers;
 position:relative;
 z-index:15;
 box-sizing:border-box;
 overflow:hidden;
 /*
 height:279.4mm;
 width:215.9mm;
 */
 padding:1cm 1.7cm;
 padding-bottom:1.5cm;
 background-color:#EEE5CE;
 font-family:Bookinsanity;
 font-size:12pt;
 text-rendering:optimizeLegibility;
 page-break-before:always;
 page-break-after:always
}
.phb p {
 padding-bottom:.8em;
 line-height:1.3em
}
.phb p+p {
 margin-top:-0.8em
}
.phb ul {
 margin-bottom:.8em;
 padding-left:1.4em;
 line-height:1.3em;
 list-style-position:outside;
 list-style-type:disc
}
.phb ol {
 margin-bottom:.8em;
 padding-left:1.4em;
 line-height:1.3em;
 list-style-position:outside;
 list-style-type:decimal
}
.phb p+p,
.phb ul+p,
.phb ol+p {
 text-indent:1em
}
.phb img {
 z-index:-1
}
.phb strong {
 font-weight:bold;
 letter-spacing:.03em
}
.phb em {
 font-style:italic
}
.phb sup {
 vertical-align:super;
 font-size:smaller;
 line-height:0
}
.phb sub {
 vertical-align:sub;
 font-size:smaller;
 line-height:0
}
.phb h1,
.phb h2,
.phb h3,
.phb h4 {
 margin-top:.2em;
 margin-bottom:.2em;
 font-family:"Mr. Eaves";
 font-weight:800;
 color:#58180D
}
.phb h1 {
 column-span:all;
 font-size:18pt;
 -webkit-column-span:all;
 -moz-column-span:all
}
.phb h1+p::first-letter {
 float:left;
 font-family:Solbera;
 font-size:44pt;
 color:#222;
 line-height:.8em
}
.phb h2 {
 font-size:16pt
}
.phb h3 {
 font-size:15pt;
 border-bottom:2px solid #c9ad6a
}
.phb h4 {
 margin-bottom:0;
 font-size:14pt
}
.phb h5 {
 margin-bottom:.2em;
 font-family:"Scaly Sans Caps";
 font-size:13pt;
 font-weight:900
}
.phb h6 {
 margin-bottom:.2em;
 font-family:"Scaly Sans Caps";
 font-size:13pt;
 font-weight:900
}
.phb table {
 font-family:"Scaly Sans";
 width:100%;
 margin-bottom:1em;
 font-size:10pt
}
.phb table em {
 font-family:"Scaly Sans";
 font-style:italic
}
.phb table strong {
 font-family:"Scaly Sans";
 font-weight:800;
 letter-spacing:-0.02em
}
.phb table thead {
 display:table-row-group;
 font-weight:800
}
.phb table thead th {
 vertical-align:bottom;
 padding-bottom:.3em;
 padding-right:.1em;
 padding-left:.1em
}
.phb table tr {
 text-align: center;
 vertical-align: middle
}
.phb table tbody tr td {
 padding:.3em .1em
}
.phb table tbody tr:nth-child(odd) {
 background-color:#e0e5c1
}
.phb blockquote {
 font-family:"Scaly Sans";
 box-sizing:border-box;
 margin-bottom:1em;
 padding:5px 10px;
 background-color:#e0e5c1;
 border-style:solid;
 border-width:11px;
 border-image-outset:9px 0px;
 box-shadow:1px 4px 14px #888
}
.phb blockquote em {
 font-family:"Scaly Sans";
 font-style:italic
}
.phb blockquote strong {
 font-family:"Scaly Sans";
 font-weight:800;
 letter-spacing:-0.02em
}
.phb blockquote p,
.phb blockquote ul {
 font-size:10pt;
 line-height:1.1em
}
.phb pre+blockquote,
.phb h2+blockquote,
.phb h3+blockquote,
.phb h4+blockquote,
.phb h5+blockquote {
 margin-top:13px
}
.phb hr+blockquote {
 position:relative;
 padding-top:15px;
 background-color:#FDF1DC;
 border-style:solid;
 border-width:10px;
}
.phb hr+blockquote h2 {
 margin-top:-8px;
 margin-bottom:0px
}
.phb hr+blockquote h2+p {
 padding-bottom:0px
}
.phb hr+blockquote h3 {
 font-family:"Scaly Sans";
 font-weight:400;
 border-bottom:1px solid #58180D
}
.phb hr+blockquote hr+ul {
 color:#58180D
}
.phb hr+blockquote ul {
 font-family:"Scaly Sans";
 padding-left:1em;
 font-size:10pt
}
.phb hr+blockquote ul em {
 font-family:"Scaly Sans";
 font-style:italic
}
.phb hr+blockquote ul strong {
 font-family:"Scaly Sans";
 font-weight:800;
 letter-spacing:-0.02em
}
.phb hr+blockquote hr+table {
 margin:0;
 column-span:1;
 background-color:transparent;
 border-style:none;
 border-image:none;
 -webkit-column-span:1
}
.phb hr+blockquote hr+table tbody tr:nth-child(odd),
.phb hr+blockquote hr+table tbody tr:nth-child(even) {
 background-color:transparent
}
.phb hr+blockquote table {
 color:#58180D
}
.phb hr+blockquote p+p {
 margin-top:0em;
 padding-bottom:.5em;
 text-indent:0em
}
.phb hr+blockquote hr {
 visibility:visible;
 height:6px;
 margin:4px 0px;
 background-size:100% 100%;
 border:none
}
.phb hr+hr+blockquote {
 column-count:2;
 column-fill:auto;
 column-gap:1cm;
 column-width:7.68cm;
 -webkit-column-count:2;
 -moz-column-count:2;
 -webkit-column-width:7.68cm;
 -moz-column-width:7.68cm;
 -webkit-column-gap:1cm;
 -moz-column-gap:1cm
}
.phb:after {
 content:"";
 position:absolute;
 bottom:0px;
 left:0px;
 z-index:100;
 height:50px;
 width:100%;
 background-size:cover
}
.phb:nth-child(even):after {
 transform:scaleX(-1)
}
.phb:nth-child(even) .pageNumber {
 left:2px
}
.phb:nth-child(even) .footnote {
 left:80px;
 text-align:left
}
.phb .pageNumber {
 position:absolute;
 right:2px;
 bottom:22px;
 width:50px;
 font-size:.9em;
 color:#c9ad6a;
 text-align:center
}
.phb .pageNumber.auto::after {
 content:counter(phb-page-numbers)
}
.phb .footnote {
 position:absolute;
 right:80px;
 bottom:32px;
 z-index:150;
 width:200px;
 font-size:.8em;
 color:#c9ad6a;
 text-align:right
}
.phb hr {
 visibility:hidden;
 margin:0px
}
.phb hr+ul {
 margin-bottom:.5em;
 padding-left:1em;
 text-indent:-1em;
 list-style-type:none
}
.phb pre,
.phb code {
 visibility:hidden;
 -webkit-column-break-after:always;
 break-after:always;
 -moz-column-break-after:always
}
.phb p,
.phb blockquote,
.phb table {
 z-index:15;
 -webkit-column-break-inside:avoid;
 page-break-inside:avoid;
 break-inside:avoid
}
.phb h4+p+hr+ul {
 margin-top:-0.5em
}
.phb table+p {
 text-indent:1em
}
.phb ul ul,
.phb ol ol,
.phb ul ol,
.phb ol ul {
 margin-bottom:0px;
 margin-left:1.5em
}
.phb li {
 -webkit-column-break-inside:avoid;
 page-break-inside:avoid;
 break-inside:avoid
}
.phb .spellList {
 font-family:"Scaly Sans";
 column-count:4;
 column-span:all;
 -webkit-column-span:all;
 -moz-column-span:all
}
.phb .spellList em {
 font-family:"Scaly Sans";
 font-style:italic
}
.phb .spellList strong {
 font-family:"Scaly Sans";
 font-weight:800;
 letter-spacing:-0.02em
}
.phb .spellList ul+h5 {
 margin-top:15px
}
.phb .spellList p,
.phb .spellList ul {
 font-size:10pt;
 line-height:1.3em
}
.phb .spellList ul {
 margin-bottom:.5em;
 padding-left:1em;
 text-indent:-1em;
 list-style-type:none;
 -webkit-column-break-inside:auto;
 page-break-inside:auto;
 break-inside:auto
}
.phb .wide {
 column-span:all;
 -webkit-column-span:all;
 -moz-column-span:all
}
.phb .classTable {
 margin-top:25px;
 margin-bottom:40px;
 border-collapse:separate;
 background-color:white;
 border:initial;
 border-style:solid;
 border-image-outset:25px 17px;
 border-image-repeat:stretch;
 border-image-slice:150 200 150 200;
 border-image-width:47px
}
.phb .classTable h5 {
 margin-bottom:10px
}
.phb .descriptive {
 display:block-inline;
 margin-bottom:1em;
 background-color:#faf7ea;
 font-family:"Scaly Sans";
 border-style:solid;
 border-width:7px;
 border-image-outset:4px;
 box-shadow:0 0 6px #faf7ea
}
.phb .descriptive p {
 display:block;
 padding-bottom:0px;
 line-height:1.5em
}
.phb .descriptive p+p {
 padding-top:.8em
}
.phb .descriptive em {
 font-family:"Scaly Sans";
 font-style:italic
}
.phb .descriptive strong {
 font-family:"Scaly Sans";
 font-weight:800;
 letter-spacing:-0.02em
}
.phb pre+.descriptive {
 margin-top:8px
}
.phb .toc {
 -webkit-column-break-inside:avoid;
 page-break-inside:avoid;
 break-inside:avoid
}
.phb .toc a {
 color:black;
 text-decoration:none
}
.phb .toc a:hover {
 text-decoration:underline
}
.phb .toc ul {
 padding-left:0;
 list-style-type:none
}
.phb .toc>ul>li {
 margin-bottom:10px
}
